<div id="about_container">
    <section id="parallax-container">
        <div class="parallax">
            <div class="text-inside-image">
                <h1>
                   <u class="underline">
                       {{'ABOUT_PARALLAX_TEXT_UNDERLINE' | translate}}
                   </u>
                   {{'ABOUT_PARALLAX_TEXT' | translate}}
                </h1>
                <h2></h2>
                <!-- <div class="button-container">   
                    <button>
                        <a href="https://www.youtube.com/user/GRKoreanGrace" target="_blank" >Listen to Sermon</a>
                    </button>
                </div> -->
            </div>
        </div>
    </section>
    
    <section id="our_belief_container">
        <div id="our_belief_title">
            <h1>{{'ABOUT_BELIEF_TITLE' | translate}}</h1>
        </div>
        <div id="our_belief_horizontal">
            <div id="about_mission_container">
                <h1>{{'ABOUT_MISSION' | translate}}</h1>
                <p>
                    {{'ABOUT_MISSION_DETAIL' | translate}}
                </p>
            </div>
            <div id="about_vision_container">
                <h1>{{'ABOUT_VISION' | translate}}</h1>
                <p>
                    {{'ABOUT_VISION_DETAIL' | translate}}
                </p>
            </div>
        </div>
    </section>
    
    <section id="ministry_goal_container">
        <div class="goal_container">
            <img src="../../../assets/images/spiritual-01.png">
            <h2>
                {{'ABOUT_MINISTRY_1' | translate}} <br>
            </h2>
        </div>
        <div class="goal_container">
            <img src="../../../assets/images/unifying-01.png">
            <h2>
                {{'ABOUT_MINISTRY_2' | translate}} <br>
            </h2>
        </div>
        <div class="goal_container">
            <img src="../../../assets/images/discipleship-01.png">
            <h2>
                {{'ABOUT_MINISTRY_3' | translate}} <br> {{'ABOUT_MINISTRY_3_1' | translate}} 
            </h2>
        </div>
        <div class="goal_container">
            <img src="../../../assets/images/fruitful-01.png">
            <h2>
                {{'ABOUT_MINISTRY_4' | translate}} <br>
            </h2>
        </div>
    </section>
    
    <section id="ministry_pastor_container">
        <!-- <div>
            <img src="../../../assets/images/pastor.jpg">
        </div> -->
        <div id="vimeo-container">
            <iframe title="vimeo-player" src="https://player.vimeo.com/video/106710342?h=79ac3c1659" width="600" height="360" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="paster_detail">
            <h1>
                {{'ABOUT_PASTOR' | translate}}
            </h1>
            <h2>
                {{'ABOUT_KIM' | translate}}
            </h2>
            <p>
                {{'ABOUT_PASTOR_DETAIL' | translate}}
            </p>
        </div>
    </section>
    
    <section id="church_detail_container">
        <!-- <div>
            <img src="../../../assets/images/pastor.jpg">
        </div> -->
        <div id="church_detail">
            <h1>
                {{'ABOUT_CHURCH' | translate}}
            </h1>
            <p>
                {{'ABOUT_CHURCH_DETAIL' | translate}}
            </p>
        </div>
        <div class="no_background_container">
            <img src="../../../assets/images/church_nobackground.png">   
        </div>
    </section>
    
</div>
