* {
    color: white;
    margin: 0 0;
}

p {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 12px;
}

#footer-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    position: relative;
    background-color: rgb(71, 71, 71);
    bottom: 0;
    align-items: center;
}

.footer_logo {
    margin-top:10px;
    width: 90px;
    height: 90px;
}

#footer-info-container {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 1;
    margin-bottom: 30px;
    margin-top:30px;

    h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 25px;
    }

    p {
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 12px;
    }
}

#grid-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2px;
    align-items: center;
}

#grid-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.image-container {
    width: 120px;
    display: flex;
    justify-content: space-between;
    img {
        width: 50px;
        height: 50px;
    }
}