<div id= "footer-container">
    <div id="footer-info-container">
        <div id="grid-one">
            <img class="footer_logo" src="../../assets/images/church_logo_notext-01-01.png" 
            alt="Korean Grace Christian Reformed">
            <p>{{'FOOTER_TAGLINE' | translate}}</p>
        </div>
        <div id="grid-two">   
            <h2>{{'FOOTER_CONTACT_US' | translate}}</h2>
            <p>
                1970 Jefferson Ave SE
                Grand Rapids, MI 49507
            </p>
            <p>Fax: (616) 452-3669 </p>
            <p>Pastor Cell: (616) 452-3669 </p>
            <p>Email: kimmoonbae@gmail.com</p>
            <p>http://www.koreangracecrc.net</p>
        </div>
        <div id="grid-three">
            <h2>{{'FOOTER_FOLLOW_US' | translate}}</h2>
            <div class="image-container">
                <a href="https://www.facebook.com/koreangracecrc/" blank="_blank">
                    <img src="../../assets/images/facebook-01.png"/>
                </a>
                <a href="https://www.youtube.com/user/GRKoreanGrace" blank="_blank">
                    <img src="../../assets/images/youtube-01.png"/>
                </a>
            </div>
        </div>
    </div>
</div>