
<!-- Home/Landing page section -->
<div id="home-container">
    <!-- main imgage -->
    <section id="hero-container">
        <div class="parallax">
            <div class="text-inside-image">
                <h1>
                   <u class="underline">
                       {{'HOME_PARALLAX_TEXT_UNDERLINE' | translate}}
                   </u>
                   {{'HOME_PARALLAX_TEXT' | translate}}
                </h1>
                <h2></h2>
                <!-- <div class="button-container">   
                    <button>
                        <a href="https://www.youtube.com/user/GRKoreanGrace" target="_blank" >Listen to Sermon</a>
                    </button>
                </div> -->
            </div>
        </div>
    </section>

    <section id="info-container">
        <div id="title-container">
            <div id="title-text-container">
                <h1>{{'HOME_INFO_TITLE' | translate}}</h1>
                <h2>{{'HOME_TAGLINE' | translate}}</h2> 
            </div>    
        </div>
        <div class="horizontal-image-text-container">
            <div class= "horizontal-body-image">
                <img src="../../../assets/images/service.png"/>
            </div>
            <div class= "horizontal-body-text-container">
                <div class="horizontal-body-text">
                    <h1>{{'HOME_INFO_SERVICE_TITLE' | translate}}
                        <hr>
                    </h1>
                    <p>
                        <b>{{'HOME_INFO_SERVICE_PASTOR' | translate}}</b>{{'HOME_INFO_SERVICE_PASTOR_NAME' | translate}}
                    </p>
                    <p>
                        <b>{{'HOME_INFO_SERVICE_DATE' | translate}}</b> {{'HOME_INFO_SERVICE_TIME' | translate}}
                    </p>
                    <p>
                        <b>{{'HOME_INFO_SERVICE_LOCATION' | translate}}</b> {{'HOME_INFO_SERVICE_PLACE' | translate}}
                    </p>
                    <br>
                    <p>
                        {{'HOME_INFO_SERVICE_TRANSLATION' | translate}}
                    </p>
                    <div class="button-container">   
                        <button>
                            <a href="https://www.youtube.com/user/GRKoreanGrace" target="_blank" >
                                {{'HOME_INFO_SERVICE_BUTTON' | translate}}
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="horizontal-image-text-container-left">
            <div class= "horizontal-body-text-container">
                <div class="horizontal-body-text-left">
                    <h1>{{'HOME_INFO_CONTACT_TITLE' | translate}}
                        <hr>
                    </h1>
                    <p>
                        {{'HOME_INFO_SERVICE_EXPLANATION' | translate}}
                    </p>
                    <p>
                        {{'HOME_INFO_CONTACT_ADDRESS' | translate}} <br>
                        {{'HOME_INFO_CONTACT_ADDRESS2' | translate}}
                    </p>
                    <p>{{'HOME_INFO_CONTACT_PHONE_NUMBER' | translate}} </p>
                    <div class="button-container">   
                        <button>
                            <a href="https://www.google.com/maps/place/Korean+Grace+Christian+Reformed/@42.9277336,-85.6625116,15z/data=!4m5!3m4!1s0x0:0x57e1edfa5925efae!8m2!3d42.9276423!4d-85.6625141"
                            target="_blank">
                                {{'HOME_INFO_CONTACT_GOOGLE_MAP' | translate}}
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class= "horizontal-body-image">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2921.398099826345!2d-85.66470564861551!3d42.92773357905054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8819b272a1a7ce89%3A0x57e1edfa5925efae!2sKorean%20Grace%20Christian%20Reformed!5e0!3m2!1sen!2sus!4v1648314163828!5m2!1sen!2sus" width=100% height=100% style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>

    
    <div class="parallax-2">
        <div class="text-inside-image">
            <h2>
                <u class="underline">
                    {{'HOME_PARALLAX_TEXT_TITLE2' | translate}}
                </u>
            </h2>
            <h2>
                {{'HOME_PARALLAX_TEXT2' | translate}}
            </h2>
        </div>
    </div>

    <section class="group-container">
        <div id="group_info_container">
            <h1>{{'HOME_GROUP_CHURCH' | translate}}</h1>
            <h2> 
                {{'HOME_GROUP_CHURCH_DESCRIPTION' | translate}} <br>
                {{'HOME_GROUP_CHURCH_DESCRIPTION2' | translate}} 
            </h2>
        
            <div class="button-container" >
                <button>
                    <a routerLink="/activities">
                        {{'HOME_GROUP_BUTTON' | translate}}
                    </a>
                </button>
            </div>
        </div>
        <div id="group_info_pic">

        </div>
    </section>

</div>
