
<!-- Home/Landing page section -->
<div id="home-container">
    <!-- main imgage -->
    <section id="hero-container">
        <div class="parallax">
            <div class="text-inside-image">
                <h1>
                   <u class="underline">
                       {{'HOME_PARALLAX_TEXT_UNDERLINE' | translate}}
                   </u>
                   {{'HOME_PARALLAX_TEXT' | translate}}
                </h1>
                <h2></h2>
                <!-- <div class="button-container">   
                    <button>
                        <a href="https://www.youtube.com/user/GRKoreanGrace" target="_blank" >Listen to Sermon</a>
                    </button>
                </div> -->
            </div>
        </div>
    </section>

    <section id="info-container">
        <div class="horizontal-image-text-container">
            <div class= "horizontal-body-image">
                <img src="../../../assets/images/inside.jpg"/>
            </div>
            <div class= "horizontal-body-text-container">
                <div class="horizontal-body-text">
                    <h1>{{'HOME_INFO_SERVICE_TITLE' | translate}}</h1>
                    <p>
                        <b>{{'HOME_INFO_SERVICE_DATE' | translate}}</b> {{'HOME_INFO_SERVICE_TIME' | translate}}
                    </p>
                    <p>
                        <b>{{'HOME_INFO_SERVICE_LOCATION' | translate}}</b> {{'HOME_INFO_SERVICE_PLACE' | translate}}
                    </p>
                    <div class="button-container">   
                        <button>
                            <a href="https://www.youtube.com/user/GRKoreanGrace" target="_blank" >
                                {{'HOME_INFO_SERVICE_BUTTON' | translate}}
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="horizontal-image-text-container">
            <div class= "horizontal-body-text-container">
                <div class="horizontal-body-text">
                    <h1>{{'HOME_INFO_CONTACT_TITLE' | translate}}</h1>
                    <p>
                        {{'HOME_INFO_CONTACT_ADDRESS' | translate}} <br>
                        {{'HOME_INFO_CONTACT_ADDRESS2' | translate}}
                    </p>
                    <p>{{'HOME_INFO_CONTACT_PHONE_NUMBER' | translate}} </p>
                    <div class="button-container">   
                        <button>
                            <a href="https://www.google.com/maps/place/Korean+Grace+Christian+Reformed/@42.9277336,-85.6625116,15z/data=!4m5!3m4!1s0x0:0x57e1edfa5925efae!8m2!3d42.9276423!4d-85.6625141"
                            target="_blank">
                                {{'HOME_INFO_CONTACT_GOOGLE_MAP' | translate}}
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class= "horizontal-body-image">
                <a href="https://www.google.com/maps/place/Korean+Grace+Christian+Reformed/@42.9277336,-85.6625116,15z/data=!4m5!3m4!1s0x0:0x57e1edfa5925efae!8m2!3d42.9276423!4d-85.6625141"
                target="_blank">
                    <img src="../../../assets/images/direction.png">
                </a>
            </div>
        </div>
    </section>

    
    <div class="parallax-2">
        <div class="text-inside-image">
            <h2>
                {{'HOME_PARALLAX_TEXT_TITLE2' | translate}} <br>
                {{'HOME_PARALLAX_TEXT2' | translate}}
            </h2>
            <!-- <h1>
                Our Mission
            </h1>
            <h2>
                As people called by God, We gather to praise God, listen to him, and respond. We nurture each other in faith and obedience to Christ.
                We love and care for one antoerh as God's people. We commit ourselves to serve and to tell others about Jesus.
                We pursue God's justice and peace in every area of life. 
            </h2> -->
        </div>
    </div>

    <section class="group-container">
        <h1>{{'HOME_GROUP_CHURCH' | translate}}</h1>
        <h2> 
            {{'HOME_GROUP_CHURCH_DESCRIPTION' | translate}}
        </h2>
        <!-- container to make content inside horizontally aligned -->
        <!-- <div class="group-horizontal-container">
            container to make image and text vertical 
            <div class= "vertical-body-container">
                <div class= "vertical-body-image">
                    <img src="../../../assets/images/Elementary.jpg"/>
                </div>
                <div class= "vertical-body-text-container">
                    <div class="body-text2">
                        <h1> Youth Group </h1>
                        <p class="small-text">Usually consist of Calvin University's students.</p>
                        <p>Sunday: 11:00 am</p>
                        <p><b>Location:</b> Chapel</p>
                    </div>
                </div>
            </div>
            <div> 
                <div class= vertical-body-container>
                    <div class= "vertical-body-image">
                        <img src="../../../assets/images/Calvin.jpg"/>
                    </div>
                    <div class= "vertical-body-text-container">
                        <div class="body-text2">
                            <h1>University group</h1>
                            <p class="small-text">Usually consist of Calvin University's students. </p>
                            <p>Saturday: 6:30 am</p>
                            <p><b>Location:</b> Chapel</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>   
                <div class= vertical-body-container>
                    <div class= "vertical-body-image">
                        <img src="../../../assets/images/bible.jpg"/>
                    </div>
                    <div class= "vertical-body-text-container">
                        <div class="body-text2">
                            <h1>Adult group</h1>
                            <p class="small-text">Lorem ipsum dolor sit amet, consectetur </p>
                            <p>1st/3rd Friday: 6:30 am</p>
                            <p><b>Location:</b> Chapel</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="button-container" >
            <button>
                <a routerLink="/activities-component">
                    {{'HOME_GROUP_BUTTON' | translate}}
                </a>
            </button>
        </div>
    </section>


        
    <div class="parallax-2">
        <div>
            Ministry goal
            <div>
                <img>
                <p>Spiritual Worship</p>
            </div>
        </div>
    </div>


</div>
