@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    // border: 1px black solid;
    margin: 0 0;
    padding: 0 0;
    font-family: Roboto;
    font-weight: 800;
}

//css
.navbar {
    position: absolute;
    width: 100%;
    height: 100px;
    background: transparent;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    transition: padding 0.3s linear;
    -webkit-transition: padding 0.3s linear;
    z-index: 999;
  }

  .navbar > .container {
    display: grid;
    grid-template-columns: repeat(2, 30% 70%);
    height: 100%;
    }
  
  .navbar-toggle {
    display: none;
    position: absolute;
    right: 25px;
    top: 25px;
    background-color: transparent;
    border: none;

    img {
        width: 50px;
        height: 40px;
    }
  }

  @media (max-width: 991px) {
  
    .navbar {
      padding: 0;
     
    }
    .navbar > .container {
        height: 60px;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

   .navbar-toggle {
        display: block !important;
    }
    .navbar-opened:host .container {
        background-color: #000;
    }
    .navbar-logo {
        margin-left: 15px; 
    }
    .top-navbar {
        display: none !important;
    }

    // nav open in mobile view
    .navbar-opened:host {
        .top-navbar {
            display: block !important;
            width: 100%;
            height: auto !important;
            flex: none;
            color: rgb(122, 122, 122);
            background: #000;
        }

        .change-lang-container {
            height: 100px;
        }
    }
    .navbar-opened:host .top-navbar li {
        display: block;
        width: 100%;
        line-height: 56px !important;
        height: 100px;
    }

    // .navbar-opened:host .top-navbar li:hover {
    //     background-color: rgb(148, 148, 148);
    // }


    
    #logo-text {
        h1 {
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 800;
            font-size: 15px;
            margin: 0 0 0 0;

        }
        h2 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 15px;
            font-weight: 400;
            margin: 0 0;
        }
    }
 }

.navigation-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    flex-direction: row;
    margin: 0 0;
}

.logo {
    width: auto;
    height: 75px;
}

#logo-text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    h1 {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 20px;
        font-weight: 800;
        margin: 0 0 0 0;

    }
    h2 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        font-weight: 400;
        margin: 0 0;
    }
}


.top-navbar {
    width: 100%;
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    text-align: center;
    align-items: center;
    justify-content: space-evenly;

    li {
        list-style: none;
        text-transform: uppercase;
        
    }
}

select {
    width: 130px;
    height: 30px;
    background: none;
    border: solid 2px #fff;
    color: #fff; 
}

select option {
    color: #000 ;
    background-color: #fff;
}

.nav_items {
    height: 100px;
    width: 100%;
    letter-spacing: 2px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 300;

    &.active {
        height: 50px;
        width: 70%;
        display: inline-flex;
        border: 2px #fff solid;
        // background-color: #acacac;
        color: #fff;
        align-items: center;
        justify-content: center;
        font-weight: 1000;
    }
    &:hover {
        transition: all 0.2s ease-in-out;
        color: #fff;
        font-weight: 600;
    }
}
