

<header>
  <nav class="navigation">
    
    <div class="navigation-logo-container">
      <a routerLink="">
        <img class="logo" src="../assets/images/crc.png" alt="Korean Grace Christian Reformed">
      </a>
      <div id="logo-text">
        <h1>{{'NAV_LOGO_NAME' | translate}}</h1>
        <p>{{'NAV_LOGO_NAME2' | translate}}</p>
      </div>
    </div>

    <div class="list_container">
      <ul class="nav_links">
        <li><a routerLink="/home" routerLinkActive="active">{{'NAV_HOME' | translate}}</a></li>
        <li><a routerLink="/about" routerLinkActive="active">{{'NAV_ABOUT_US' | translate}}</a></li>
        <li><a routerLink="/activities" routerLinkActive="active">{{'NAV_MINISTRIES' | translate}}</a></li>
        <!-- <li>{{'NAV_LOGO_NAME' | translate}}</li>
        <li>{{'NAV_LOGO_NAME' | translate}}</li> -->
        <li>
          <select #locale (change)="changeLocale(locale.value)">
            <option value="en">English</option>
            <option value="kr">한국어</option>
          </select>          
        </li>
      </ul>
    </div>

  </nav>
</header>

<router-outlet></router-outlet>

<app-footer></app-footer>