<section id="activity-container">
    <div ic="hero-container">
        <div class="parallax">
            <div class="text-inside-image">
                <h1>
                   <u class="underline">{{'MINISTRY_PARALLAX_TEXT' | translate}}</u> {{'MINISTRY_PARALLAX_TEXT2' | translate}}
                </h1>
                <h2></h2>
                <!-- <div class="button-container">   
                    <button>
                        <a href="https://www.youtube.com/user/GRKoreanGrace" target="_blank" >Listen to Sermon</a>
                    </button>
                </div> -->
            </div>
        </div>
    </div>

    <div id="ministries-container">

        <div class="horizontal-image-text-container">
            <div class= "horizontal-body-image">
                <img src="../../../assets/images/bible2.jpg"/>
            </div>
            <div class= "horizontal-body-text-container">
                <div class="horizontal-body-text">
                    <h1>{{'MINISTRY_YOUTH_GROUP' | translate}}</h1>
                    <p>
                        {{'MINISTRY_YOUTH_GROUP_DESCRIPTION' | translate}}
                    <p>
                        <b>{{'MINISTRY_YOUTH_GROUP_DATE' | translate}}</b>{{'MINISTRY_YOUTH_GROUP_TIME' | translate}}
                    </p>
                    <p>
                        <b>{{'MINISTRY_YOUTH_GROUP_LOCATION' | translate}}</b> {{'MINISTRY_YOUTH_GROUP_PLACE' | translate}}
                    </p> 
                </div>
            </div>
        </div>

        <div class="horizontal-image-text-container">
            <div class= "horizontal-body-text-container">
                <div class="horizontal-body-text">
                    <h1>{{'MINISTRY_UNIVERSITY_GROUP' | translate}}</h1>
                    <p>
                        {{'MINISTRY_UNIVERSITY_GROUP_DESCRIPTION' | translate}}
                    <p>
                        <b>{{'MINISTRY_UNIVERSITY_GROUP_DATE' | translate}}</b>{{'MINISTRY_UNIVERSITY_GROUP_TIME' | translate}}
                    </p>
                    <p>
                        <b>{{'MINISTRY_UNIVERSITY_GROUP_LOCATION' | translate}}</b> {{'MINISTRY_UNIVERSITY_GROUP_PLACE' | translate}}
                    </p> 
                </div>
            </div>
            <div class= "horizontal-body-image">
                <img src="../../../assets/images/Calvin.jpg"/>
            </div>
        </div>

        <div class="horizontal-image-text-container">
            <div class= "horizontal-body-image">
                <img src="../../../assets/images/group.jpg"/>
            </div>
            <div class= "horizontal-body-text-container">
                <div class="horizontal-body-text">
                    <h1>{{'MINISTRY_ADULT_GROUP' | translate}}</h1>
                    <p>
                        {{'MINISTRY_ADULT_GROUP_DESCRIPTION' | translate}}
                    <p>
                        <b>{{'MINISTRY_ADULT_GROUP_DATE' | translate}}</b>{{'MINISTRY_ADULT_GROUP_TIME' | translate}}
                    </p>
                    <p>
                        <b>{{'MINISTRY_ADULT_GROUP_LOCATION' | translate}}</b> {{'MINISTRY_ADULT_GROUP_PLACE' | translate}}
                    </p> 
                </div>
            </div>
        </div>

        
        <div class="horizontal-image-text-container">
            <div class= "horizontal-body-text-container">
                <div class="horizontal-body-text">
                    <h1>{{'MINISTRY_BIBLE_GROUP' | translate}}</h1>
                    <p>
                        {{'MINISTRY_BIBLE_GROUP_DESCRIPTION' | translate}}
                    </p>
                    <p>
                        <b>{{'MINISTRY_BIBLE_GROUP_DATE' | translate}}</b> {{'MINISTRY_BIBLE_GROUP_TIME' | translate}}
                    </p>
                    <p>
                        <b>{{'MINISTRY_BIBLE_GROUP_DATE2' | translate}}</b> {{'MINISTRY_BIBLE_GROUP_TIME2' | translate}}
                    </p>
                    <p>
                        <b>{{'MINISTRY_BIBLE_GROUP_DATE3' | translate}}</b> {{'MINISTRY_BIBLE_GROUP_TIME3' | translate}}
                    </p>
                    <p>
                        <b>{{'MINISTRY_BIBLE_GROUP_DATE4' | translate}}</b> {{'MINISTRY_BIBLE_GROUP_TIME4' | translate}}
                    </p>
                    <p>
                        <b>{{'MINISTRY_BIBLE_GROUP_LOCATION' | translate}}</b> {{'MINISTRY_BIBLE_GROUP_PLACE' | translate}}
                    </p> 
                </div>
            </div>
            <div class= "horizontal-body-image">
                <img src="../../../assets/images/bible3.jpg"/>
            </div>
        </div>

    </div>
</section>