<section id="activity-container">
    <div ic="hero-container">
        <div class="parallax">
            <div class="text-inside-image">
                <h1>
                   <u class="underline">{{'MINISTRY_PARALLAX_TEXT' | translate}}</u> {{'MINISTRY_PARALLAX_TEXT2' | translate}}
                </h1>
                <h2></h2>
                <!-- <div class="button-container">   
                    <button>
                        <a href="https://www.youtube.com/user/GRKoreanGrace" target="_blank" >Listen to Sermon</a>
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="ministries-title">
        <h1> OUR MINISTRIES</h1> 
    </div>
    <div id="ministries-container">
        <div class="text-inside-image-container">
            <div class= "horizontal-body-image">
                <div class="solid_color"></div>
            </div>
            <div class="regular_text">
                <h1>
                    <b>"</b>{{'HOME_PARALLAX_TEXT2' | translate}}<b>"</b>
                </h1>
            </div>
        </div>        
        <div class="text-inside-image-container">
            <div class= "horizontal-body-image">
                <img src="../../../assets/images/bible2.jpg"/>
            </div>
            <div class= "ministries-text-inside-image">
                <h1>{{'MINISTRY_YOUTH_GROUP' | translate}}</h1>
                <p>
                    {{'MINISTRY_YOUTH_GROUP_DESCRIPTION' | translate}}
                </p>
                <div class="time_place_container">
                    <p>
                        <b>{{'MINISTRY_YOUTH_GROUP_DATE' | translate}}</b>{{'MINISTRY_YOUTH_GROUP_TIME' | translate}}
                    </p>
                    <p>
                        <b>{{'MINISTRY_YOUTH_GROUP_LOCATION' | translate}}</b> {{'MINISTRY_YOUTH_GROUP_PLACE' | translate}}
                    </p> 
                </div>
            </div>
        </div>

        <div class="text-inside-image-container">
            <div class= "horizontal-body-image">
                <img src="../../../assets/images/Calvin.jpg"/>
            </div>
            <div class= "ministries-text-inside-image">
                <h1>{{'MINISTRY_UNIVERSITY_GROUP' | translate}}</h1>
                <p>
                    {{'MINISTRY_UNIVERSITY_GROUP_DESCRIPTION' | translate}}
                </p>
                <div class="time_place_container">
                    <p>
                        <b>{{'MINISTRY_UNIVERSITY_GROUP_DATE' | translate}}</b>{{'MINISTRY_UNIVERSITY_GROUP_TIME' | translate}}
                    </p>
                    <p>
                        <b>{{'MINISTRY_UNIVERSITY_GROUP_LOCATION' | translate}}</b> {{'MINISTRY_UNIVERSITY_GROUP_PLACE' | translate}}
                    </p> 
                </div>
            </div>
        </div>

        <div class="text-inside-image-container">
            <div class= "horizontal-body-image">
                <img src="../../../assets/images/group.jpg"/>
            </div>
            <div class= "ministries-text-inside-image">
                <h1>{{'MINISTRY_ADULT_GROUP' | translate}}</h1>
                <p>
                    {{'MINISTRY_ADULT_GROUP_DESCRIPTION' | translate}}
                </p>
                <div class="time_place_container">
                    <p>
                        <b>{{'MINISTRY_ADULT_GROUP_DATE' | translate}}</b>{{'MINISTRY_ADULT_GROUP_TIME' | translate}}
                    </p>
                    <p>
                        <b>{{'MINISTRY_ADULT_GROUP_LOCATION' | translate}}</b> {{'MINISTRY_ADULT_GROUP_PLACE' | translate}}
                    </p> 
                </div>
            </div>
        </div>
        <div class="text-inside-image-container">
            <div class= "horizontal-body-image">
                <img src="../../../assets/images/bible.jpg"/>
            </div>
            <div class= "ministries-text-inside-image">
                <h1>{{'MINISTRY_BIBLE_GROUP' | translate}}</h1>
                <p>
                    {{'MINISTRY_BIBLE_GROUP_DESCRIPTION' | translate}}
                </p>
                <div class="time_place_container">
                    <p>
                        <b>{{'MINISTRY_BIBLE_GROUP_DATE' | translate}}</b>{{'MINISTRY_BIBLE_GROUP_TIME' | translate}}
                    </p>
                    <p>
                        <b>{{'MINISTRY_BIBLE_GROUP_LOCATION' | translate}}</b> {{'MINISTRY_BIBLE_GROUP_PLACE' | translate}}
                    </p> 
                </div>
            </div>
        </div>
        <div class="text-inside-image-container">
            <div class= "horizontal-body-image">
                <img src="../../../assets/images/bible3.jpg"/>
            </div>
            <div class= "ministries-text-inside-image">
                <h1>{{'MINISTRY_ALL_BIBLE_GROUP' | translate}}</h1>
                <p>
                    {{'MINISTRY_ALL_BIBLE_DESCRIPTION' | translate}}
                </p>
                <div class="time_place_container">
                    <p>
                        <b>{{'MINISTRY_ALL_BIBLE_DATE' | translate}}</b>{{'MINISTRY_ALL_BIBLE_TIME' | translate}}
                    </p>
                    <p>
                        <b>{{'MINISTRY_ALL_BIBLE_LOCATION' | translate}}</b> {{'MINISTRY_ALL_BIBLE_PLACE' | translate}}
                    </p> 
                </div>
            </div>
        </div>

    </div>
</section>